body {
  font-family: Arial, sans-serif;
   background: linear-gradient(100deg, rgb(43, 150, 118), rgba(172, 16, 164, 0.808));
  
  padding: 40px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #ece8ec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin: 10px 0;

}

.item{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.item input{
  flex: 1;
  
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

#invoicePreview {
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
}
   footer{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 50px;
       
      
       }
         footer a{
       text-decoration: none;
       color: antiquewhite;
       }


        @media (max-width: 600px) {
            .item{
                flex-wrap: wrap;
            }
        }