* {
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background: #7ed3cf;
      color: #f5f5f5;
      margin: 0;
      display: flex;
      height: 100vh;
      overflow: hidden;
    }
    .sidebar {
      width: 280px;
      background: #2c5b69;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #333;
      padding: 20px;
    }

    .sidebar h2 {
      margin-top: 0;
      color: #0b80ce;
      text-align: center;
    }

    .search-box input {
      width: 100%;
      padding: 8px 10px;
      border: none;
      border-radius: 8px;
      outline: none;
      margin-bottom: 15px;
      background: #333355;
      color: #f5f5f5;
    }

    .note-list {
      flex: 1;
      overflow-y: auto;
    }

    .note-item {
      background: #2d2d55;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    .note-item:hover {
      background: #38386d;
    }

    .add-btn {
      background: #131185;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
    }

    .add-btn:hover {
      background: #0097a7;
    }

    .editor {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .editor input {
      font-size: 1.3rem;
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      margin-bottom: 10px;
      border-bottom: 1px solid #444;
      padding: 5px 0;
    }

    .editor textarea {
      flex: 1;
      background: #3b3b75;
      border: none;
      outline: none;
      color: #fff;
      padding: 15px;
      border-radius: 10px;
      resize: none;
      font-size: 1rem;
    }

    .bottom-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .bottom-buttons button {
      background: #ee691d;
      border: none;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
      color: #fff;
      transition: 0.3s;
    }

    .bottom-buttons button.delete {
      background: #e74c3c;
    }

    .bottom-buttons button:hover {
      opacity: 0.9;
    }

    @media (max-width: 768px) {
      .sidebar {
        width: 200px;
      }
      .editor input {
        font-size: 1.1rem;
      }
    }